<launch>
	<!-- Static transforms for camera_link, camera_frame and gripper -->
	<!--<node pkg="tf" type="static_transform_publisher" name="testpub" args="0 0 0 0 0 0 1 base_link object 100" />-->
	<node pkg="tf" type="static_transform_publisher" name="testpub1" args="0 0 0 0 0 0 1 tool0 camera_link 100" />
</launch>