<?xml version="1.0"?>
<!-- Representation of the control-box the UR5 is placed on -->
<robot name="controlbox">
	<link name="controlbox">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="0.75 0.535 0.54"/>
			</geometry>
			<material name="Cyan">
				<color rgba="0 1 1 1"/>
			</material>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="0.75 0.535 0.54"/>
			</geometry>			
		</collision>
	</link>
</robot>